<!DOCTYPE html>
<html lang="en" ng-app="sisApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>Sisyphus | Playlist Manager</title>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="vendor/jquery-mobile/dist/jquery.mobile.min.js"></script>-->
    <script src="vendor/socket.io-client/socket.io.js"></script>
    <script src="vendor/angular-animate/angular-animate.min.js"></script>
    <script src="vendor/angular-aria/angular-aria.min.js"></script>
    <script src="vendor/angular-material/angular-material.min.js"></script>
    <script src="assets/scripts/manager.js"></script>

    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/fonts/fontawesome-webfont.ttf">
    <link rel="stylesheet" href="/vendor/font-awesome/fonts/fontawesome-webfont.woff">
    <link rel="stylesheet" href="/vendor/font-awesome/fonts/fontawesome-webfont.woff2">
    <link rel="stylesheet" href="views/styles.css">
</head>
<body ng-controller="PlaylistManagerController as mgr">
    <div class="plWrapper" ng-repeat="list in mgr.playlists">
        <div class="playlist">
            <div class="pathWrapper well" ng-repeat="path in list.paths">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn btn-default"><i class="fa fa-arrow-left"></i></div>
                    <div class="btn btn-default"><i class="fa fa-arrow-right"></i></div>
                </div>
                <div class="path">
                    <div class="pathStartPos pathPos">
                        <div class="start1"></div>
                        <div class="start0"></div>
                    </div>
                    <div class="pathEndPos pathPos">
                        <div class="start1"></div>
                        <div class="start0"></div>
                    </div>
                    <img src="{{mgr.imgPath+path+'.png'}}" onerror="src='/assets/images/noPic.png'">
                </div>
            </div>
        </div>
    </div>
</body>
</html>