<!DOCTYPE html>
<html lang="en" ng-app="sisApp">
<head>
    <meta charset="UTF-8">
    <title>Sisyphus - Manual Movement</title>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/bootstrap.min.js"></script>
    <!--<script src="vendor/jquery-mobile/dist/jquery.mobile.min.js"></script>-->
    <script src="vendor/socket.io-client/socket.io.js"></script>
</head>
<body ng-controller="ManualController as man">
    <div class="manualWrapper well">

    </div>
</body>
</html>