
/**/
.flipster {
    /*margin-top: 10%;*/
    /*margin-bottom: 50%;*/
    /*width: 60%;*/
    height: 90%;
    /*font-family: Calibri;*/
    font-size: 18px;
    text-align: center;
    color: white;
    margin: 40px auto 50px auto;
}

.flipster__item img {
    max-width: 80%;
}


@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px) {
/*@media (max-width: 599px) {*/
    .flipster {
        margin-top: 15%;
        margin-bottom: 35%;
        width: 100%;
        font-family: Calibri;
        font-size: 32px;
        text-align: center;
        color: white;
    }

    .flipster__item img {
        max-width: 120%;
    }

    .controls-container {
        margin-bottom: 20%;
    }

}


