<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="vendor/jquery-flipster/dist/jquery.flipster.css">
    <link rel="stylesheet" href="views/playlist.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/fonts/fontawesome-webfont.ttf">
    <link rel="stylesheet" href="/vendor/font-awesome/fonts/fontawesome-webfont.woff">
    <link rel="stylesheet" href="/vendor/font-awesome/fonts/fontawesome-webfont.woff2">
    <!--<script src="vendor/angular/angular.min.js"></script>-->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/jquery-flipster/dist/jquery.flipster.min.js"></script>
    <script src="assets/scripts/playlist.js"></script>
    <title></title>
</head>

<body>

    <form class="playlist-dropdown">
        <select class="playlist-select">
            <!--<option selected="selected">Choose a New Playlist</option>-->
        </select>
        <noscript><input type="submit" value="Submit"></noscript>
    </form>

    <div class="playlist-exit">
        <a class="playlist-exit-link" href="/">Exit</a>
    </div>
    <div class="appendFlipster">
        <div class="flipster">
            <ul class="items">
            </ul>
        </div>
    </div>
    <div>
        <div class="startHere">
            <button class="startHere-button">Start from Here</button>
        </div>
        <div class="startBeginning">
            <button class="startBeginning-button">Start from Beginning</button>
        </div>
    </div>


</body>
</html>